@import 'src/app/shared/styles/variables';

.hero-text {
  font-family: $font-primary;
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(
    90deg, 
    $color-button-gradient-start, 
    $color-accent, 
    $color-button-gradient-end, 
    $color-button-gradient-start
  );
  background-size: 300% 100%; // hace que el gradiente sea más ancho para animación
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;

  animation: move-gradient 20s linear infinite; // ajusta duración si quieres más lento/rápido
}

@keyframes move-gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
