@import 'src/app/shared/styles/variables';
a {
  color: $color-text;
  text-decoration: none;
}
a:hover {
  color: $color-button-bg;
  text-decoration: underline;
}
.cmd-container {
  color: $color-text;
  font-family: 'Courier New', monospace;
  padding: 1rem;
  border-radius: 5px;
  min-width: 1000px;
  max-width: 90%;
  min-height: 70vh;
  margin: 2rem auto;
  border: 1px solid;
  background-color: $color-background;
  display: flex;
  flex-direction: column;
}

.cmd-output {
  flex: 1;
  overflow-y: auto;
  max-height: 60vh;
  white-space: pre-line;
  margin-bottom: 0.5rem;

  // Scroll para Webkit (Chrome, Safari, Edge)
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-text;
    border-radius: 4px;
  }

  // Scroll para Firefox
  scrollbar-width: thin;
  scrollbar-color: $color-text transparent;
}

.cmd-input {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  span {
    margin-right: 0.5rem;
  }

  input {
    flex: 1;
    background: transparent;
    border: none;
    color: $color-text;
    outline: none;
    font-family: 'Courier New', monospace;
    font-size: 1rem;
  }
}
