@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// Colores
$color-background: #0D0D0D;
$color-text: #E0AFFF;
$color-button-bg: #7B3FC0;
$color-button-text: #FFFFFF;
$color-button-gradient-start: #2E0A4F;
$color-button-gradient-end: #6A1B9A;
$color-input-bg: #1A1A1A;
$color-accent: #FF69B4;
$highlight: #E0AFFF;
$text-size: 2.2rem;

// Tipografía
$font-primary: 'Press Start 2P', monospace;
