@import 'src/app/shared/styles/variables';

.loading-container {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  gap: 10px;
  overflow: hidden; 

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background-size: 50px 50px; 
    background-image: 
      linear-gradient(to right, rgba(255,255,255,0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255,255,255,0.1) 1px, transparent 1px);
    animation: move-squares 20s linear infinite;
    z-index: 0; 
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

@keyframes move-squares {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50px, -50px);
  }
}
